<form action="/users" method="POST">
    <label for="name">Name: </label><input type="text" name="name" value="{{nameValue}}"> {{name}}<br>
    <label for="email">Email: </label><input type="email" name="email" value="{{emailValue}}"> {{email}}<br>
    <label for="password">Password: </label><input type="password" name="password" value="{{passwordValue}}"> {{password}}<br>
    <input type="submit" value="Register">
</form>